/assets/css/bootstrap.min.css
/assets/css/bootstrap.min.css.map
/assets/css/hierarchy-select.min.css
/assets/css/solid.min.css
/assets/webfonts
/js/bootstrap.bundle.min.js
/js/jquery-3.6.0.min.js
/js/hierarchy-select.min.js